// Variables
@import 'variables';

// Bootstrap
@import '~admin-lte/build/scss/adminlte';

table tr th, table tr td{
    text-align: center;
}

table .tr{
    display: flex;
    justify-content: space-between;
}
